*{
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    color-scheme: dark;
}

:root{
    --main-color: white;
    --font: "Inter", "Segoe UI", sans-serif;
}

/* ------------AI------------- */
img, button, .container {
    max-width: 100%;
}


@media (max-width: 1340px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    h1, h2, p {
        text-align: center;
    }
}

/* --------------------------- */
html, body{
    font-size: 16px;
    font-family: var(--font);
    scroll-behavior: smooth;
}

body {

    background-image: url("images/BG.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
}

main{
    min-height: calc(100vh - 220px);
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

header img {
    width: 56px;
    height: 56px;
    object-fit: contain;
    object-position: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center img{
    margin-bottom: 50px;
}

.center h2{
    font-size: 30px;
}

.next{
    padding-top: 38px;
    margin-top: 38px;
}

.nav-spacer {
    height: 80px;   
    width: 100%;
}


.nav{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.3s ease;
    overflow: hidden;
}

.nav label{
    position: relative;
    width: 75px;
    height: 75px;

    display: flex;
    align-items: center;
    border-radius: 60px;
    border: 3px solid white;
    overflow: hidden;
}


.nav ul{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    
    display: flex;
    gap: 20px;
    visibility: hidden;
    transition: 0.3s ease;
}
.nav input:checked + label ul{
    visibility: visible;
    opacity: 1;
    min-width: fit-content;
}

.nav input:checked + label{
    width: 374px !important; 
}

.nav_logo{
    width: 75px;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500px;
}

header input{
    display: none;

}

.down-arrow{
    align-items: center;
    font-size: 50px;
    margin-bottom: 30vh;
    overflow: hidden;
}

.role{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 20vh;
}

.role a{
    display: flex;
    gap: 15px;

    border: 5px solid white;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    width: 360px;

    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: white;
}

.role h1{
    text-align: center;
    font-size: 33px;
}

.role h2{
    text-align: left;
    margin-left: 40px;
    font-size: 28px;
}

.role > a div{
    display: flex;
    gap: 20px;
}


.btn_role:hover{
    background-color: white;
    color: black;
}

.role > a div h3{
    font-size:  40px;
    
}

.role > a div i{
    font-size: 40px;
    overflow: hidden;
}


.bounce-top {
	-webkit-animation: bounce-top 2s infinite both;
	animation: bounce-top 2s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2026-4-30 18:41:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */


@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
}
}

/* ------------------Student Login ---------------- */

.container h1{
    margin-bottom: 30px;
}

.back{
    display: flex;

    color: white;
    padding: 32px;

    width: fit-content;
    align-items: center;
}

.back a i{
    font-size: 30px;
}

.back a{
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    color: white;
}

.login{
    background-color: #0000008f;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 35px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.158);
    margin: 0 auto;
    font-size: 20px;
}


.login label{
    display: block;
    margin-bottom: 5px;
}

.login input{
    display: block;
    height: 45px;
    padding: 13px;
    border-radius: 13px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.158);
    width: 100%;
    font-size: 20px;
}

.login > div{
    width: 100%;
}

.login button{
    display: block;
    width: 100%;
    border-radius: 13px;
    background-color: green;
    color: white;
    text-align: center;
    padding: 15px;
    border: none;
    outline: none;
}

/* ------------------------------------------------ */

/* ------------Staff Form------------- */
.atten_form h3, .atten_form input, .atten_form label, .atten_form button, .atten_form a{
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.atten_form label{
    display: block;
    margin-bottom: 10px;
}

.atten_form select{
    width: 100%;
}

.atten_form option{
    background-color: black;
}

.atten_form textarea{
    width: 100%;
    min-height: 60px;
    font-size: 20px;

    max-width: 100%;
    max-height: 100%;
}
.atten_form select, .atten_form input, .atten_form textarea{
    background-color: transparent;

    display: block;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
}

.atten_form .form_info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}






/* ----------------------------------- */


footer{
    text-align: center;
    border-top: 2px solid white;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.658);
}

.footer_section{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.footer_section img{
    width: 55px;
    min-width: 55px;
    height: auto;
    display: block;
    object-fit: contain;
    object-position: center;
}

.footer_section div{
    display: flex;
    flex-direction: column;

    align-items: center;
}