<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGS | Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="container">
            <div class="nav">
                <input type="checkbox" id="nav-toggle">

                <label for="nav-toggle">

                    <div class="nav_logo">
                        <img src="{{ url_for('static', filename='images/logo_S.png') }}" alt="SGS Logo Smaller">
                    </div>

                <ul>
                    <li>
                        <a href="{{ url_for('home')}}">
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('info_page') }}#contact">
                            Contact
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('info_page') }}#about">
                            About
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('info_page') }}#help">
                            Help    
                        </a>
                    </li>
                </ul>
                </label>

            </div>

            
        </div>
    </header>

    <div class="container flash-block">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-container">
                    {% for category, message in messages %}
                        <div class="flash flash-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    {% block content %}{% endblock %}

    <footer>
        <div class="container">

            <div class="footer_section">
                <img src="{{ url_for('static', filename='images/logo_S.png') }}" alt="SGS Logo Smaller">

                <div>
                    <h2>South Gloucestershire Stroud College</h2>
                    <p>Created as part of work placement project</p>
                </div>
                
            </div>
            

            

        </div>
    </footer>
</body>
</html>